-- Aggregations and Window Functions

-- 1) Total number of bookings made by each user
SELECT
    u.user_id,
    u.username,
    COUNT(b.booking_id) AS total_bookings
FROM user_account AS u
LEFT JOIN booking AS b
    ON b.guest_id = u.user_id
GROUP BY u.user_id, u.username
ORDER BY total_bookings DESC, u.user_id;

-- 2) Rank properties by total number of bookings (MySQL 8+ window functions)
WITH property_bookings AS (
    SELECT
        b.property_id,
        COUNT(b.booking_id) AS total_bookings
    FROM booking AS b
    GROUP BY b.property_id
)
SELECT
    p.property_id,
    p.title,
    COALESCE(pb.total_bookings, 0) AS total_bookings,
    RANK() OVER (ORDER BY COALESCE(pb.total_bookings, 0) DESC) AS property_rank
FROM property AS p
LEFT JOIN property_bookings AS pb
    ON pb.property_id = p.property_id
ORDER BY property_rank, p.property_id;
