-- Complex Queries with Joins

-- 1) INNER JOIN: bookings and the respective users who made those bookings
SELECT
    b.booking_id,
    b.check_in_date,
    b.check_out_date,
    b.total_price,
    b.booking_status,
    u.user_id,
    u.username,
    u.first_name,
    u.last_name,
    u.email
FROM booking AS b
INNER JOIN user_account AS u
    ON b.guest_id = u.user_id
ORDER BY b.booking_id;

-- 2) LEFT JOIN: all properties and their reviews, including properties with no reviews
SELECT
    p.property_id,
    p.title,
    p.price_per_night,
    r.review_id,
    r.rating,
    r.comment
FROM property AS p
LEFT JOIN review AS r
    ON p.property_id = r.property_id
ORDER BY p.property_id, r.review_id;

-- 3) FULL OUTER JOIN (MySQL-compatible via UNION of LEFT + RIGHT JOIN)
-- Returns all users and all bookings, even if unlinked
(
    SELECT
        u.user_id,
        u.username,
        u.email,
        b.booking_id,
        b.check_in_date,
        b.check_out_date,
        b.booking_status
    FROM user_account AS u
    LEFT JOIN booking AS b
        ON u.user_id = b.guest_id
)
UNION
(
    SELECT
        u.user_id,
        u.username,
        u.email,
        b.booking_id,
        b.check_in_date,
        b.check_out_date,
        b.booking_status
    FROM user_account AS u
    RIGHT JOIN booking AS b
        ON u.user_id = b.guest_id
    WHERE u.user_id IS NULL
)
ORDER BY user_id, booking_id;
