-- Practice Subqueries

-- 1) Non-correlated subquery: properties with average rating > 4.0
SELECT
    p.property_id,
    p.title
FROM property AS p
WHERE p.property_id IN (
    SELECT r.property_id
    FROM review AS r
    GROUP BY r.property_id
    HAVING AVG(r.rating) > 4.0
)
ORDER BY p.property_id;

-- 2) Correlated subquery: users who have made more than 3 bookings
SELECT
    u.user_id,
    u.username,
    u.email
FROM user_account AS u
WHERE (
    SELECT COUNT(*)
    FROM booking AS b
    WHERE b.guest_id = u.user_id
) > 3
ORDER BY u.user_id;
